In [1]:
# Connecting to a Microsoft SQL Server with pyodbc
import pyodbc

In [2]:
pyodbc.drivers()

['Driver da Microsoft para arquivos texto (*.txt; *.csv)',
 'Driver do Microsoft Access (*.mdb)',
 'Driver do Microsoft dBase (*.dbf)',
 'Driver do Microsoft Excel(*.xls)',
 'Driver do Microsoft Paradox (*.db )',
 'Microsoft Access Driver (*.mdb)',
 'Microsoft Access-Treiber (*.mdb)',
 'Microsoft dBase Driver (*.dbf)',
 'Microsoft dBase-Treiber (*.dbf)',
 'Microsoft Excel Driver (*.xls)',
 'Microsoft Excel-Treiber (*.xls)',
 'Microsoft ODBC for Oracle',
 'Microsoft Paradox Driver (*.db )',
 'Microsoft Paradox-Treiber (*.db )',
 'Microsoft Text Driver (*.txt; *.csv)',
 'Microsoft Text-Treiber (*.txt; *.csv)',
 'SQL Server',
 'SQL Server Native Client 11.0',
 'ODBC Driver 17 for SQL Server']

In [3]:
# define the server and the database
server = 'ESRA' 
database = 'PharmacySystem'  

# Define the connection string
conx = pyodbc.connect(
                    'DRIVER={SQL Server}; \
                    SERVER='+ server +'; \
                    DATABASE='+ database +';\
                    Trusted_Connection=yes;'
)

In [4]:
# conx = pyodbc.connect('DRIVER={SQL Server}; SERVER=ESRA; Database=deneme; TRUSTED_CONNECTION=yes')
conx_string = "driver={SQL SERVER}; server=ESRA; database=PharmacySystem; trusted_connection=YES;"

In [5]:
query1 = "SELECT MEDICINE.Barcode, MEDICINE.Name, MEDICINE.Description FROM MEDICINE"
query2 = "SELECT * FROM PHARMACY"
query3 = "SELECT * FROM MEDICINE"
query4 = "SELECT * FROM EMPLOYEE"
query5 = "SELECT * FROM COMPANY"
query6 = "SELECT * FROM DOCTOR"
query7 = "SELECT * FROM CUSTOMER"
query8 = "SELECT MEDICINE.Name FROM MEDICINE LEFT JOIN PRODUCTION ON MEDICINE.Barcode = PRODUCTION. Barcode Where PRODUCTION.Last_use_date <'2025-05-05'"
query9 = "CREATE VIEW view1 AS SELECT DOCTOR.D_name, DOCTOR.D_surname, DOCTOR.D_phone, DOCTOR.Speciality, CUSTOMER.C_name, CUSTOMER.C_address, CUSTOMER.C_phone FROM DOCTOR, CUSTOMER WHERE DOCTOR.Doctor_id = CUSTOMER.DoctorID"

query10 = "SELECT * FROM view1;"

### first query example

In [6]:
conx = pyodbc.connect(conx_string)
cursor = conx.cursor()
cursor.execute(query1)
data = cursor.fetchall()

for d in data:
    print(d)

(100, 'Advil', 'ağrı kesici')
(101, 'Sebamed', 'cilt bakım')
(102, 'Aerius', 'alerji hapı')
(103, 'Nexium', 'mide ilacı')
(104, 'Norvasc', 'tansiyon ilacı')
(105, 'Perebron', 'öksürük şurubu')
(106, 'Metpamid', 'bulantı şurubu')
(107, 'Naprosyn', 'romatizma ilacı')
(108, 'Aspirin', 'ağrı kesici')
(109, 'Corasbin', 'kan sulandırıcı')
(110, 'Voltaren Emulgel', 'romatizma ilacı')
(111, 'Ocuvite Complete', 'göz vitamini')
(112, 'Otrivin', 'burun spreyi')
(113, 'Benexol b12', 'vitamin ilacı')
(114, 'Asiviral Krem', 'uçuk kremi')
(115, 'Terramycin', 'yara merhemi')
(116, 'Siprogut', 'kulak damlası')
(117, 'Glifor', 'şeker ilacı')
(118, 'Ritalin', 'uyuşturucu')
(119, 'Medikinet Retart', 'uyuşturucu')
(120, 'Prozac', 'sakinleştirici')

### PHARMACY

In [7]:
conx = pyodbc.connect(conx_string)
cursor = conx.cursor()
cursor.execute(query2)
data = cursor.fetchall()

for d in data:
    print(d)

(1, 'Esra Eczanesi', '0216900', 'İstanbul', 'Çamlıca Caddesi')

### MEDICINE

In [8]:
conx = pyodbc.connect(conx_string)
cursor = conx.cursor()
cursor.execute(query3)
data = cursor.fetchall()

for d in data:
    print(d)

(100, 'Advil', 6.0, True, 'ağrı kesici', 'tablet', 35, 1)
(101, 'Sebamed', 40.0, True, 'cilt bakım', 'krem', 15, 1)
(102, 'Aerius', 10.0, True, 'alerji hapı', 'tablet', 25, 1)
(103, 'Nexium', 20.0, True, 'mide ilacı', 'tablet', 20, 1)
(104, 'Norvasc', 15.0, True, 'tansiyon ilacı', 'tablet', 10, 1)
(105, 'Perebron', 9.0, True, 'öksürük şurubu', 'şurup', 10, 1)
(106, 'Metpamid', 12.0, True, 'bulantı şurubu', 'şurup', 10, 1)
(107, 'Naprosyn', 47.0, True, 'romatizma ilacı', 'tablet', 20, 1)
(108, 'Aspirin', 1.0, True, 'ağrı kesici', 'tablet', 35, 1)
(109, 'Corasbin', 17.0, True, 'kan sulandırıcı', 'tablet', 20, 1)
(110, 'Voltaren Emulgel', 48.0, True, 'romatizma ilacı', 'jel', 10, 1)
(111, 'Ocuvite Complete', 22.0, True, 'göz vitamini', 'tablet', 10, 1)
(112, 'Otrivin', 16.0, True, 'burun spreyi', 'sprey', 20, 1)
(113, 'Benexol b12', 10.0, True, 'vitamin ilacı', 'tablet', 35, 1)
(114, 'Asiviral Krem', 10.0, True, 'uçuk kremi', 'krem', 20, 1)
(115, 'Terramycin', 13.0, True, 'yara merhemi', 'krem', 10, 1)
(116, 'Siprogut', 9.0, True, 'kulak damlası', 'damla', 10, 1)
(117, 'Glifor', 19.0, True, 'şeker ilacı', 'tablet', 10, 1)
(118, 'Ritalin', 30.0, False, 'uyuşturucu', 'tablet', 10, 1)
(119, 'Medikinet Retart', 40.0, False, 'uyuşturucu', 'tablet', 20, 1)
(120, 'Prozac', 30.0, False, 'sakinleştirici', 'tablet', 10, 1)

### EMPLOYEE

In [9]:
conx = pyodbc.connect(conx_string)
cursor = conx.cursor()
cursor.execute(query4)
data = cursor.fetchall()

for d in data:
    print(d)

(11111, 'Esra', 'Eryılmaz', '535-45-45', 2, 'Eczacı', 1)
(22222, 'Hasan', 'Eryılmaz', '555-12-12', 24, 'Müdür', 1)
(33333, 'Dilek', 'Eryılmaz', '545-67-67', 22, 'Muhasebeci', 1)
(44444, 'Utku', 'Eryılmaz', '535-55-55', 1, 'Kalfa', 1)

### COMPANY

In [10]:
# conx = pyodbc.connect(conx_string)
cursor = conx.cursor()
cursor.execute(query5)
data = cursor.fetchall()

for d in data:
    print(d)

(500, 'Novartis', '+8-67-431', 'İsviçre', 'Basel', 11)
(501, 'Pfizer', '+7-23-135', 'ABD', 'New York', 22)
(502, 'Abdi İbrahim', '+9-43-12-432', 'Türkiye', 'İstanbul', 34)
(503, 'gsk', '+4-23-21-777', 'İngiltere', 'Londra', 44)
(504, 'Bayer', '+5-90-654', 'Almanya', 'Leverkusen', 55)
(505, 'Nobel', '+9-32-456', 'Türkiye', 'İstanbul', 34)
(506, 'Sanovel', '+9-55-990', 'Türkiye', 'İstanbul', 34)
(507, 'Sandoz', '+8-34-542', 'İsviçre', 'Basel', 11)
(508, 'Berko', '+9-43-21-111', 'Türkiye', 'İstanbul', 34)
(509, 'Sanofi', '+3-55-666', 'Fransa', 'Paris', 66)

### DOCTOR

In [11]:
conx = pyodbc.connect(conx_string)
cursor = conx.cursor()
cursor.execute(query6)
data = cursor.fetchall()

for d in data:
    print(d)

(10, 'Mehmet', 'Öz', '777777', 'Genel Cerrahi', 1, '2016-06-10')
(11, 'Ayşe', 'Demir', '666666', 'Göz Hastalıkları', 1, '2014-01-05')
(12, 'Ali', 'Arslan', '555555', 'Dahiliye', 1, '2018-02-15')
(13, 'Meryem', 'Çelik', '444444', 'Kadın Hastalıkları', 1, '2015-10-18')
(14, 'Ahmet', 'Yılmaz', '333333', 'Çocuk Hastalıkları', 1, '2017-05-01')
(15, 'Manolya', 'Kaya', '222222', 'Psikiyatri', 1, '2020-09-09')
(16, 'Burak', 'Saz', '111111', 'KBB', 1, '2021-12-22')
(17, 'Hatice', 'Koç', '888888', 'Endokrinoloji', 1, '2015-03-13')
(18, 'Deniz', 'Yurt', '999999', 'Dermatoloji', 1, '2021-07-20')
(19, 'Yaprak', 'Şahin', '111000', 'Ortopedi', 1, '2022-06-10')

### CUSTOMER

In [12]:
conx = pyodbc.connect(conx_string)
cursor = conx.cursor()
cursor.execute(query7)
data = cursor.fetchall()

for d in data:
    print(d)

(1000, 'Yaprak Şahin', '555-666', 'Kadıköy', 30, 10)
(1001, 'Safiye Derenoğlu', '222-333', 'Beyoğlu', 31, 15)
(1002, 'Sevgi Akın', '111-222', 'Tuzla', 32, 11)
(1003, 'Yusuf Yıldız', '999-999', 'Üsküdar', 33, 15)
(1004, 'Fatma Kara', '333-555', 'Şişli', 34, 19)
(1005, 'Mustafa Çetin', '444-111', 'Beykoz', 35, 17)
(1006, 'Emine Kılıç', '999-000', 'Ataşehir', 36, 13)
(1007, 'Zeynep Yıldırım', '777-555', 'Bakırköy', 37, 12)
(1008, 'Gülben Derenoğlu', '888-222', 'Ümraniye', 38, 15)
(1009, 'Onur Yılmaz', '111-999', 'Üsküdar', 39, 16)

### Show medicines which will expire before '2025-05-05'
#### query8 = "SELECT MEDICINE.Name FROM MEDICINE LEFT JOIN PRODUCTION ON MEDICINE.Barcode = PRODUCTION. Barcode Where PRODUCTION.Last_use_date <'2025-05-05'"

In [13]:
conx = pyodbc.connect(conx_string)
cursor = conx.cursor()
cursor.execute(query8)
data = cursor.fetchall()

for d in data:
    print(d)

('Sebamed', )
('Norvasc', )
('Ocuvite Complete', )
('Otrivin', )
('Benexol b12', )
('Medikinet Retart', )
('Prozac', )

In [ ]:
 ##  zaten view var o yüzden çalıştırmaya gerek yok sonradan
conx = pyodbc.connect(conx_string)
cursor = conx.cursor()
cursor.execute(query9)
data = cursor.fetchall()

for d in data:
    print(d)

####  VIEW EXAMPLE    view of customers' informations with their doctors
#####  query10 = "SELECT * FROM view1;"

In [16]:
conx = pyodbc.connect(conx_string)
cursor = conx.cursor()
cursor.execute(query10)
data = cursor.fetchall()

for d in data:
    print(d)

('Mehmet', 'Öz', '777777', 'Genel Cerrahi', 'Yaprak Şahin', 'Kadıköy', '555-666')
('Manolya', 'Kaya', '222222', 'Psikiyatri', 'Safiye Derenoğlu', 'Beyoğlu', '222-333')
('Ayşe', 'Demir', '666666', 'Göz Hastalıkları', 'Sevgi Akın', 'Tuzla', '111-222')
('Manolya', 'Kaya', '222222', 'Psikiyatri', 'Yusuf Yıldız', 'Üsküdar', '999-999')
('Yaprak', 'Şahin', '111000', 'Ortopedi', 'Fatma Kara', 'Şişli', '333-555')
('Hatice', 'Koç', '888888', 'Endokrinoloji', 'Mustafa Çetin', 'Beykoz', '444-111')
('Meryem', 'Çelik', '444444', 'Kadın Hastalıkları', 'Emine Kılıç', 'Ataşehir', '999-000')
('Ali', 'Arslan', '555555', 'Dahiliye', 'Zeynep Yıldırım', 'Bakırköy', '777-555')
('Manolya', 'Kaya', '222222', 'Psikiyatri', 'Gülben Derenoğlu', 'Ümraniye', '888-222')
('Burak', 'Saz', '111111', 'KBB', 'Onur Yılmaz', 'Üsküdar', '111-999')

In [17]:
## query7 = "SELECT * FROM CUSTOMER"
conx = pyodbc.connect(conx_string)
cursor = conx.cursor()
cursor.execute(query7)
data = cursor.fetchall()

for d in data:
    print(d)

(1000, 'Yaprak Şahin', '555-666', 'Kadıköy', 30, 10)
(1001, 'Safiye Derenoğlu', '222-333', 'Beyoğlu', 31, 15)
(1002, 'Sevgi Akın', '111-222', 'Tuzla', 32, 11)
(1003, 'Yusuf Yıldız', '999-999', 'Üsküdar', 33, 15)
(1004, 'Fatma Kara', '333-555', 'Şişli', 34, 19)
(1005, 'Mustafa Çetin', '444-111', 'Beykoz', 35, 17)
(1006, 'Emine Kılıç', '999-000', 'Ataşehir', 36, 13)
(1007, 'Zeynep Yıldırım', '777-555', 'Bakırköy', 37, 12)
(1008, 'Gülben Derenoğlu', '888-222', 'Ümraniye', 38, 15)
(1009, 'Onur Yılmaz', '111-999', 'Üsküdar', 39, 16)

In [18]:
## query6 = "SELECT * FROM DOCTOR"
conx = pyodbc.connect(conx_string)
cursor = conx.cursor()
cursor.execute(query6)
data = cursor.fetchall()

for d in data:
    print(d)

(10, 'Mehmet', 'Öz', '777777', 'Genel Cerrahi', 1, '2016-06-10')
(11, 'Ayşe', 'Demir', '666666', 'Göz Hastalıkları', 1, '2014-01-05')
(12, 'Ali', 'Arslan', '555555', 'Dahiliye', 1, '2018-02-15')
(13, 'Meryem', 'Çelik', '444444', 'Kadın Hastalıkları', 1, '2015-10-18')
(14, 'Ahmet', 'Yılmaz', '333333', 'Çocuk Hastalıkları', 1, '2017-05-01')
(15, 'Manolya', 'Kaya', '222222', 'Psikiyatri', 1, '2020-09-09')
(16, 'Burak', 'Saz', '111111', 'KBB', 1, '2021-12-22')
(17, 'Hatice', 'Koç', '888888', 'Endokrinoloji', 1, '2015-03-13')
(18, 'Deniz', 'Yurt', '999999', 'Dermatoloji', 1, '2021-07-20')
(19, 'Yaprak', 'Şahin', '111000', 'Ortopedi', 1, '2022-06-10')